# udev rules to create /dev/hidraw.egalax for development purposes.
SUBSYSTEM=="hidraw", ACTION=="add", SUBSYSTEMS=="usb", ATTRS{idProduct}=="0001", ATTRS{idVendor}=="0eef", GROUP="egalax-rs", SYMLINK+="hidraw.egalax", MODE="0660", TAG+="uaccess"
