[Unit]
Description=Device for egalax touchscreen

[Service]
Type=simple
WorkingDirectory=/home/pi/egalax-rs
Environment="RUST_LOG=info"
#ExecStart=/home/adrian/info.sh %I
ExecStart=/home/pi/.cargo/bin/egalax-rs %I
