[Unit]
Description=Device for egalax touchscreen
# so that we are started after the device comes online and after X is running
After=dev-hidraw0.device graphical.target
# blocks starting of the driver until graphical target is reached
Wants=graphical.target

[Service]
Type=simple
ExecStart=/home/pi/egalax-rs/runegalax.sh

[Install]
# so that we are started when the device comes online
WantedBy=dev-hidraw0.device
