<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>

  <vendor>egalax-rs</vendor>
  <vendor_url>https://github.com/addap/egalax-rs/</vendor_url>

 <action id="org.egalax-rs.calibrate">
    <description>Set the current configuration and calibration of the egalax-rs driver</description>
    <message>Authentication is required to calibrate the Egalax monitor.</message>
    <icon_name>video-display</icon_name>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/egalax-config</annotate>
  </action>

</policyconfig>